@import './base.css';

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 14px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 36px;
  }
}

::selection {
  color: #fff;
  background: #d74c6d;
}

h1, .h1 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}
h2, .h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
h3, .h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
p, .par, ul, ol {
  font-size: 18px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  h1, .h1 {
    font-size: 40px;
  }
  h2, .h2 {
    font-size: 34px;
  }
  h3, .h3 {
    font-size: 28px;
  }
  p, .par, ul, ol {
    font-size: 22px;
  }
}

a {
  color: var(--color-secondary);
  text-decoration: none;
  transition: color 0.4s, background-color 0.4s, filter 0.4s;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: #000;
}

button,
.button {
  display: inline-block;
  background-color: #fff;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 24px;
  cursor: pointer;
  transition: color 0.4s, background-color 0.4s, filter 0.4s;
  font-weight: 700;
  color: #000;
  border: 1px solid #ccc;
  white-space: nowrap;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: #eee;
  text-decoration: none;
}

.btn-round {
  border-radius: 30px;
  color: var(--color-primary);
  border: 4px solid #fff;
}

.btn-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--color-primary);
  filter: grayscale(0.3);
  color: #fff;
}

a:focus-visible,
button:focus-visible,
.button:focus-visible {
  outline: 3px solid #000;
}

@media (max-width: 767.99px) {
  .hide-sm {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hide-lg {
    display: none !important;
  }
}

.main-loading {
  min-height: 1000px;
  background-color: #ececec;
}

.main-simple {
  margin-top: 40px;
  margin-bottom: 60px;
}

